<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body style = 'height: 300px;
               position: relative;
               border: 5px solid RGB(239, 192, 80);
               background-color:RGB(149, 82, 81);
	       margin: 0;
               position: absolute;
  	       top: 50%;
  	       left: 50%;
  	       -ms-transform: translate(-50%, -50%);
 	       transform: translate(-50%, -50%);'>
    <h2>Login</h2>
    <form action="" method="post">
        <label for="">Enter username</label>
        <input type="text" name="username">
	<br>
	<br>
        <label for="">Password</label>
        <input type="password" name="password">
	<br>
	<br>
        <input type="submit" value="Login">
    </form>
    <br>	
    <hr>
    <br>	
    <a href="/register"> Click to Register</a>
</body>
</html>