<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style = 'height: 200px;
               position: relative;
               border: 5px solid RGB(239, 192, 80);
               background-color:RGB(149, 82, 81);
	       margin: 0;
               position: absolute;
  	       top: 50%;
  	       left: 50%;
  	       -ms-transform: translate(-50%, -50%);
 	       transform: translate(-50%, -50%);'>

    <form action="/updatedeck/{{deckname}}" method="post">
        <br><br><br>
	<label for="">Current Name</label>
        <input type="text" name="current" disabled value="{{deckname}}">
        <br>
        <br>
        <label for="">New Name</label>
        <input type="text" name="new">
        <br>
	<br>
        <input type="submit" value="Update">

    </form>

</body>
</html>